@page "/employees"
@attribute [Authorize]

<PageTitle>Employees</PageTitle>

<h1>Employees</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
