@page "/LoginCallback"
@using Microsoft.AspNetCore.WebUtilities
@using MRA.Identity.Application.Contract.User.Responses
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<h1>Ураааа!</h1>

@code{

    protected override async Task OnInitializedAsync()
    {
        JwtTokenResponse token = new();
        var currentUri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        var query = QueryHelpers.ParseQuery(currentUri.Query);
        if (query.TryGetValue("atoken", out var atoken))
        {
            token.AccessToken = atoken;
        }

        if (query.TryGetValue("rtoken", out var rtoken))
        {
            token.RefreshToken = rtoken;
        }

        if (query.TryGetValue("vdate", out var vdate))
        {
            DateTime oDate = Convert.ToDateTime(vdate);
            token.AccessTokenValidateTo = oDate;
            await LocalStorageService.SetItemAsync("authToken", token);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();

            if (query.TryGetValue("page", out var page))
                NavigationManager.NavigateTo($"/{page}");
            else
                NavigationManager.NavigateTo("/");
        }
    }


}